<div class = "panel panel-primary" *ngIf = 'products'>
  <div class = "panel-heading">
      <!-- {{pageTitle + ':' + product.productName}} -->
      {{pageTitle + ':'  }}
  </div>
  <div class="panel-footer">
    <a class="btn btn-default" (click)='onBack()' style='width: 80px'>
      <i class="glyphicon glyphicon-chevron-left"></i>
      Back
    </a>
  </div>
  <table class="table">
    <tbody>
      <tr *ngFor='let product of fProducts'>
          <td>{{ product.productCode }}</td>
          <td>{{ product.releaseDate }}</td>
          <td>{{ product.price | currency:'USD' :true:'1.2-2' }}</td>
          <td>
        </tr>
    </tbody>
  </table>
</div>